body {
   background-image: 
    url(https://i.pinimg.com/736x/44/41/d7/4441d78e41abc305bab5df5f8c08ec21.jpg);
        background-repeat: repeat-y;
        background-size: 100%;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border-radius: 30px;
  border: 15px double rgb(178, 224, 255);
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 60px;
  border-radius: 30px;
}

.pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 30px;
  border: 15px double rgb(255, 192, 236);
}

h2{
  color: rgb(78, 78, 250);
  font-family: Fascinate Inline;
  font-weight: bold;
  animation: BOUNCY 2s ease 0s infinite normal none;
}

@keyframes BOUNCY 
{
  0% {
	transform: scale(1);
  }

  50% {
	transform: scale(1.1);
  }

  100% {
	transform: scale(1);
  }
}

#start{
  text-align: left;
}

#end{
  text-align: right;
  color: rgb(255, 136, 205);
}